<div class="container">
  <h3>Edit Category:</h3>
  <form method="post" action="/categories/<%= @category[:id] %>/edit">
    <div>
      <label>Category Name: </label>
      <input name="category_name" type="text" value="<%= @category[:name] %>" required>
    </div>
    <div>
      <label>Alotted Amount:</label>
      <input name="category_amount" type="float" value="<%= @category[:amount] %>" required>
    </div>
    <input name="category_id" type="hidden" value="<%= @category[:id] %>">
    <button class="btn" type="submit">Update Category</button>
    <button class="btn delete" type="submit" formaction="/categories/<%= @category[:id] %>/destroy">Delete Category</button>
  </form>
</div>

<div class="container">
  <h3><%= @category[:name] %> Transactions:</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="table-head">Amount</th>
        <th class="table-head categories">Description</th>
        <th class="table-head categories">Date</th>
        <th class="table-head categories">Time</th>
      </tr>
    </thead>
    <tbody>
      <% @category_transactions.each do |transaction| %>
        <tr>
          <td>$<%= transaction[:amount]%></td> 
          <td><%= transaction[:description]%></td> 
          <td><%= transaction[:date]%></td> 
          <td><%= transaction[:time]%></td> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>